
@import "base/medias";
@import "base/extend";
@import "base/medias";
@import "base/variables";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}
p {
	margin-bottom: 0rem;
}

// Logo

.header {
	background-color: $background-color;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 7.9rem;
	padding: 0 20px;
	height: 10rem;
	.logo {
		margin-right: auto;
		img {
			height: 6rem;
			width: auto;
		}

// Fin logo

// Barra de navegacion

	}
	.enlaces {
		li {
			display: inline-block;
			padding: 0 20px;
		}
		a {
			font-size: 1.5rem;
			color: white;
			text-decoration: none;
		}
	}
}
.logo {
	:hover {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transition: 1s;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		-ms-transition: 1s;
		-o-transition: 1s;
	}
}
.enlaces {
	margin-bottom: auto;
}

// Fin barra de navegacion

// Menu hamburguesa


.container-fluid {
	display: flex;
	justify-content: end;
	background-color: $background-color;
}
.navbar-toggler {
	background-color: $background-color;
}
.navbar {
	background-color: $background-color;
}
.nav-dark {
	background-color: $background-color;
}
.principal {
	background-color: rgb(59, 59, 59);
}
.titulo {
	font-size: $font-size-h1;
	text-align: center;
	color: $color-principal;
	font-weight: 500;
}

// Primer section

.d-block {
	width: 70rem;
	height: 34.4rem;
}
.col-12 {
	font-size: 1.1rem;
	color: $color-principal;
}

// Fin primer section

// Footer

.redes {
	background-color: $background-color;
	color: $color-principal;
	text-align: center;
	margin: auto;
}
.redesSociales {
	display: flex;
	justify-content: center;
	background-color: $background-color;
	i {
		font-size: 2rem;
		padding: 10px 20px;
		height: 9.2vh;
        :hover {
			transform: rotate(360deg);
			transition: 1.5s;
			-webkit-transition: 1.5s;
			-moz-transition: 1.5s;
			-ms-transition: 1.5s;
			-o-transition: 1.5s;
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-o-transform: rotate(360deg);
		}
	}
}
.instagram {
	width: 2.3rem;
}
.spotify {
	width: 2.3rem;
}
.youtube {
	width: 2.3rem;
}
.derechos {
	background-color: $background-color;
	color: $color-principal;
	@include derechos;
}

// Footer

// Integrantes

// Contenedor segunda pagina

.container-fluid-dos {
	display: flex;
	justify-content: space-around;
}
.row {
	width: 100%;
	justify-content: space-around;
}

// Imagenes integrantes

.cardImg1 {
	width: 100%;
	height: 22.4rem;
	margin: 0.5rem;
}
.cardImg2 {
	width: 100%;
	height: 24.1rem;
	margin: 0.5rem;
}
.cardImg3 {
	width: 100%;
	height: 24.1rem;
	margin: 0.5rem;
}
.cardImg4 {
	width: 100%;
	height: 24.1rem;
	margin: 0.5rem;
}
.cardImg5 {
	width: 100%;
	height: 24.1rem;
	margin: 0.5rem;
}
.card {
	background-color: black;
	background-color: rgb(59, 59, 59);
}
.cardText {
	color: white;
	font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

// Fin imagenes integrantes

// Fin integrantes

// Discografia

// Titulos de discos

.contenedor3 {
	@include grid
}
.nombreAlbum {
	@include %album;
}

// Fin titulos de discos

// Imagenes de discos

.imagen {
	@extend %.imagen;
}

.imagenSiete {
	width: 25rem;
	height: 20rem;
	margin-bottom: 1rem;
}
// Fin imagenes de discos

// Fin discografia


// Concierto

.contenedor4 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
}
.imagenDiv {
	display: grid;
	justify-items: center;
}
.concierto1 {
	margin: 3.5rem 0;
	width: 40rem;
	justify-self: center;
}
.concierto2 {
	margin: 3.5rem 0;
	width: 40rem;
}
.concierto3 {
	margin: 3.5rem 0;
	width: 40rem;
}
.conciertoPrague {
	color: white;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 10px;
}
.conciertoLisboa {
	color: white;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 10px;
}
.conciertoVoa {
	color: white;
	text-align: center;
	font-size: 1-5rem;
	margin-top: 10px;
}
.ubicacion1 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.ubicacion2 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.ubicacion3 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.horario1 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.horario2 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.horario3 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.precio1 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.precio2 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.precio3 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.botonCompra {
	:hover {
		background-color: rgb(155, 155, 155);;
	}
}
.boton {
	display: grid;
	justify-items: center;
	margin: 32px 10px;
}

// Fin concierto

// Contactanos

.principalContactanos {
	height: 80vh;
	background-color: rgb(59, 59, 59);
}
.novedades {
	color: white;
	text-align: center;
	margin-top: 3rem;
}
form {
	display: grid;
}
fieldset {
	text-align: center;
	display: grid;
	justify-items: center;
	margin: 10px;
	border: 2px solid rgb(255, 255, 255);
}
.textosFieldset {
	color: white;
	margin: auto;
	display: grid;
	justify-content: center;
	margin-top: 3rem;
}
.tamaño {
	font-size: 1.3rem;
	margin: 10px;
}
label {
	display: block;
}
input {
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
	border: none;
	width: 20rem;
	height: 2rem;
	text-align: center;
	&::placeholder {
		padding-left: auto;
	}
}
.enviar {
	margin: 20px 10px;
}
.botonEnviar {
	&:hover {
		background-color: rgb(155, 155, 155);;
	}
}

// Fin contactanos