// Mixins

@mixin derechos {
    text-align: center;
    font-size: 1.3rem;
    height: 4.3rem;
    margin-bottom: 0;
}

@mixin grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 6%;
    grid-gap: 3rem;
    justify-content: space-evenly;
}
